@import "reset"
@import "fonts"

.container
  max-width: 1161px
  margin: 0 auto

.catalog
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.product-card
  position: relative
  width: 260px
  &__article
    color: #8b9399
    font-family: Roboto
    font-size: 12px
    font-weight: 300
    line-height: 24px
  &__name
    color: #000000
    font-family: Roboto
    font-size: 14px
    font-weight: 300
    line-height: 24px
  &__features
  &__button

product-gallery
  &__left-arrow
    background-image: url()
  &__slides
  &__slide
  &__right-arrow

.feature
  font-family: Roboto
  font-size: 12px
  font-weight: 300
  line-height: 24px
  &__name
    color: #8b9399
  &__value
    color: #000000