html(lang=ru)
    head
        title Каталог
        meta(name="description" content="auto")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        link(rel="stylesheet" href="/styles/styles.css")
    body
        .container
            .catalog
                .product-card
                    .product-gallery
                        .product-gallery__left-arrow
                        .product-gallery__slides
                            .slide
                                img
                        .product-gallery__right-arrow
                    p.product-card__article
                    p.product-card__name
                    ul.product-card__features
                        li.feature
                            span.feature__name
                            span.feature__value