-
    var products = [
        {
            name : "Шкаф-купе Лазурит 160-220 Дуб Бардолино Белый 3 двери",
            articul : "194357834",
            photos : [
                "/img/products/product01/photo01.png",
                "/img/products/product01/photo01.png",
                "/img/products/product01/photo01.png",
            ],
            icons: [
                 "new"
            ],
            features : [
                {
                    name : "Габариты",
                    value : "2500 / 2000 / 600"
                },
                {
                    name : "Количество дверей",
                    value : "3"
                },
                {
                    name : "Декор профилей",
                    value : "Бук Мраморный"
                },
                {
                    name : "Декор ЛДСП",
                    value : "Бук Бавария"
                }
            ]
        },
        { 
            name : "Шкаф-купе Агат 160-260 Дуб Бардолино Черный 3 двери",
            articul : "4533454344",
            photos : [
                "/img/products/product01/photo01.png",
                "/img/products/product01/photo01.png",
                "/img/products/product01/photo01.png",
            ],
            icons: [
                "hit", "new"
            ],
            features : [
                {
                    name : "Габариты",
                    value : "2600 / 2000 / 600"
                },
                {
                    name : "Количество дверей",
                    value : "3" 
                },
                {
                    name : "Декор профилей",
                    value : "Белый Soft-Touch"
                },
                {
                    name : "Декор ЛДСП",
                    value : "Белый Премиум"
                }
            ]
        },
        {
            name : "Шкаф-купе Стандарт 180-240 Клен Медовый Зеркало 2 двери",
            articul : "6795675443",
            photos : [
                "/img/products/product01/photo01.png",
                "/img/products/product01/photo01.png",
                "/img/products/product01/photo01.png",
            ],
            icons: [
                "sale"
            ],
            features : [
                {
                    name : "Габариты",
                    value : "2800 / 1800 / 400"
                },
                {
                    name : "Количество дверей",
                    value : "3"
                },
                {
                    name : "Декор профилей",
                    value : "Клен"
                },
                {
                    name : "Декор ЛДСП",
                    value : "Клен медовый"
                }
            ]
        },
        {
            name : "Шкаф-купе Сапфир 200-250 Клен Медовый стекло 2 двери",
            articul : "89667546654",
            photos : [
                "/img/products/product01/photo01.png",
                "/img/products/product01/photo01.png",
                "/img/products/product01/photo01.png",
            ],
            icons: [
                "hit"
            ],
            features : [
                {
                    name : "Габариты",
                    value : "2800 / 1800 / 400"
                },
                {
                    name : "Количество дверей",
                    value : "2"
                },
                {
                    name : "Декор профилей",
                    value : "Золото"
                },
                {
                    name : "Декор ЛДСП",
                    value : "Клен медовый"
                }
            ]
        },
        {
            name : "Шкаф-купе Лазурит 160-220 Дуб Бардолино Белый 3 двери",
            articul : "194357834",
            photos : [
                "/img/products/product01/photo01.png",
                "/img/products/product01/photo01.png",
                "/img/products/product01/photo01.png",
            ],
            icons: [

            ],
            features : [
                {
                    name : "Габариты",
                    value : "2500 / 2000 / 600"
                },
                {
                    name : "Количество дверей",
                    value : "3"
                },
                {
                    name : "Декор профилей",
                    value : "Бук Мраморный"
                },
                {
                    name : "Декор ЛДСП",
                    value : "Бук Бавария"
                }
            ]
        },
        {
            name : "Шкаф-купе Агат 160-260 Дуб Бардолино Черный 3 двери",
            articul : "4533454344",
            photos : [
                "/img/products/product01/photo01.png",
                "/img/products/product01/photo01.png",
                "/img/products/product01/photo01.png",
            ],
            icons: [

            ],
            features : [
                {
                    name : "Габариты",
                    value : "2500 / 2000 / 600"
                },
                {
                    name : "Количество дверей",
                    value : "3"
                },
                {
                    name : "Декор профилей",
                    value : "Бук Мраморный"
                },
                {
                    name : "Декор ЛДСП",
                    value : "Бук Бавария"
                }
            ]
        },
        {
            name : "Шкаф-купе Стандарт 180-240 Клен Медовый Зеркало 2 двери",
            articul : "6795675443",
            photos : [
                "/img/products/product01/photo01.png",
                "/img/products/product01/photo01.png",
                "/img/products/product01/photo01.png",
            ],
            icons: [

            ],
            features : [
                {
                    name : "Габариты",
                    value : "2500 / 2000 / 600"
                },
                {
                    name : "Количество дверей",
                    value : "3"
                },
                {
                    name : "Декор профилей",
                    value : "Бук Мраморный"
                },
                {
                    name : "Декор ЛДСП",
                    value : "Бук Бавария"
                }
            ]
        },
        {
            name : "Шкаф-купе Сапфир 200-250 Клен Медовый стекло 2 двери",
            articul : "89667546654",
            photos : [
                "/img/products/product01/photo01.png",
                "/img/products/product01/photo01.png",
                "/img/products/product01/photo01.png",
            ],
            icons: [

            ],
            features : [
                {
                    name : "Габариты",
                    value : "2800 / 1800 / 400"
                },
                {
                    name : "Количество дверей",
                    value : "3"
                },
                {
                    name : "Декор профилей",
                    value : "Клен"
                },
                {
                    name : "Декор ЛДСП",
                    value : "Клен медовый"
                }
            ]
        },
    ]